/target
.idea
experiments/predictive_coding_stacked8/*data.pickle
experiments/predictive_coding_stacked8/**/*data.pickle
htm/data
rusty_neat.so
Cargo.lock
htm.core
habitat
habitat-sim
experiments/htm/data
experiments/MNIST
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.pdf
paper/*.gz
